---
import Main from "../layouts/Main.astro";
---
<Main>
	<h1>PGN Profile lite</h1>
	<button onclick="location.href = '/api/auth/pgrit/initiate/'">Login with PGrit</button>
</Main>
<style>
	* {
		text-align: center;
	}
</style>
<script>
	import type { User } from "../types";
	const user: User | null = await fetch("/api/me.json").then((res) => res.json());
	if (user) {
		document.querySelector("main button")!.textContent = "View Profile";
	}
</script>
