---
import Main from "../layouts/Main.astro";
---
<Main>
	<h1>PGN Profile lite</h1>
	<button onclick="location.href = '/api/auth/pgrit/initiate/'">Login with PGrit</button>
</Main>
<style>
	* {
		text-align: center;
	}
</style>
