---
interface BreadcrumbItem<T extends boolean = boolean> {
  text: T extends true ? true : false;
  href: T extends true ? undefined : string;
  innerText: string;
}
let breadcrumb: BreadcrumbItem[] = [];
if (Astro.url.pathname !== "/") {
  breadcrumb = [
    "",
    ...Astro.url.pathname
      .split("/")
      .filter((v) => v.length > 0)
      .slice(0, -1),
  ].flatMap((v, i, r) => {
    return [
      {
        text: true,
        href: undefined,
        innerText: "/",
      },
      {
        text: false,
        href: `/${r.slice(1, i + 1).join("/")}`,
        innerText: v.length === 0 ? "Home" : v,
      },
    ];
  });
}
---
<html lang="ja">
<head>
<meta charset="utf-8" />
<title>PGN Profile</title>
<meta name="description" content="PGNを簡易表示" />
<meta name="keywords" content="PGN,PIX" />
<meta name="viewport" content="width=device-width,initial-scale=1.0" />
<meta name="format-detection" content="telephone=no,email=no,address=no" />
<link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css" />
<link rel="apple-touch-icon" href="/favicon.png" />
<link rel="icon" href="/favicon.svg" />

<!-- OGP -->
<meta property="og:url" content="https://pgn.amas.dev" />
<meta property="og:title" content="PGN Profile" />
<meta property="og:description" content="PGNを簡易表示" />
<meta property="og:site_name" content="pgn.amas.dev" />
<meta property="og:locale" content="ja_JP" />
<!--<meta property="og:type" content="" />-->
<!-- <meta property="og:image" content="" />-->

<!-- OGP Facebook -->
<!--<meta property="fb:app_id" content="" />-->

<!-- OGP Twitter -->
<!--<meta name="twitter:card" content="" />-->
<!--<meta name="twitter:site" content="" />-->
<!--<meta name="twitter:creator" content="" />-->
<!--<meta name="twitter:title" content="{{ title }}" />-->
<!--<meta name="twitter:description" content="" />-->
<!--<meta name="twitter:image" content="" />-->
<slot name="head" />
<body>
	<slot name="raw" />
	<header>
		<div>
		{
			breadcrumb.map((v => {
				if (v.text) {
					return <span>{v.innerText}</span>;
				} else {
					return <a href={v.href}>{v.innerText}</a>;
				}
			}))
		}
		</div>
		<slot name="header" />
	</header>
	<main>
		<slot />
	</main>
	<noscript>Please Enable JavaScript.</noscript>
</body>	

	</html>

<style lang="scss" is:global>
	header {
		display: flex;
		align-items: center;
		min-height: 2rem;
		padding: .5rem;
	}
	main {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	button {
		text-decoration: underline;
	}
	html,
	body {
		font-family: 'Roboto Mono', monospace;
		line-height: 1.5;
		min-height: 100vh;
		min-height: 100dvh;
		font-size: 20px;
	}
	.topmsg, noscript {
		position: fixed;
		inset: 0;
		margin: auto;
	}
	noscript {
		width: 26ch;
		animation: typing 2.6s steps(26), blink .5s step-end infinite alternate;
	}
	.typing {
		width: 0;
		animation: blink .5s step-end infinite alternate;
	}
	noscript,
   .typing {
		height: 1lh;
		max-width: 100%;
		white-space: nowrap;
		overflow: scroll;
		border-right: 2px solid;
		font-family: 'Roboto Mono', monospace;
	}
	@keyframes typing {
		from {
			width: 0
		}
	}
	@keyframes blink {
		50% {
			border-color: transparent
		}
	}
</style>
