<html lang="ja">
<head>
<meta charset="utf-8" />
<title>PGN Profile</title>
<meta name="description" content="PGNを簡易表示" />
<meta name="keywords" content="PGN,PIX" />
<meta name="viewport" content="width=device-width,initial-scale=1.0" />
<meta name="format-detection" content="telephone=no,email=no,address=no" />
<link rel="icon" href="favicon.ico" />
<link rel="apple-touch-icon" href="icon.png" />
<link rel="stylesheet" href="https://unpkg.com/modern-css-reset/dist/reset.min.css" />
<link rel="canonical" href="" />

<!-- OGP -->
<meta property="og:url" content="https://pgn.amas.dev" />
<!--<meta property="og:type" content="" />-->
<meta property="og:title" content="PGN Profile" />
<meta property="og:description" content="PGNを簡易表示" />
<meta property="og:site_name" content="pgn.amas.dev" />
<!-- <meta property="og:image" content="" /> -->
<meta property="og:locale" content="ja_JP" />

<!-- OGP Facebook -->
<!--<meta property="fb:app_id" content="" />-->

<!-- OGP Twitter -->
<!--<meta name="twitter:card" content="" />-->
<!--<meta name="twitter:site" content="" />-->
<!--<meta name="twitter:creator" content="" />-->
<!--<meta name="twitter:title" content="{{ title ***REMOVED******REMOVED***" />-->
<!--<meta name="twitter:description" content="" />-->
<!--<meta name="twitter:image" content="" />-->

<slot name="head" />
<style lang="scss">
	html,
	body {
		font-family: sans-serif;
	***REMOVED***

	h2 {
		line-height: 1.5;
	***REMOVED***
</style>

<body>
	<slot />
</body>	
</html>
