<html lang="ja">
<head>
<meta charset="utf-8" />
<title>PGN Profile</title>
<meta name="description" content="PGNを簡易表示" />
<meta name="keywords" content="PGN,PIX" />
<meta name="viewport" content="width=device-width,initial-scale=1.0" />
<meta name="format-detection" content="telephone=no,email=no,address=no" />
<link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css" />
<link rel="apple-touch-icon" href="/favicon.png" />
<link rel="icon" href="/favicon.svg" />

<!-- OGP -->
<meta property="og:url" content="https://pgn.amas.dev" />
<meta property="og:title" content="PGN Profile" />
<meta property="og:description" content="PGNを簡易表示" />
<meta property="og:site_name" content="pgn.amas.dev" />
<meta property="og:locale" content="ja_JP" />
<!--<meta property="og:type" content="" />-->
<!-- <meta property="og:image" content="" />-->

<!-- OGP Facebook -->
<!--<meta property="fb:app_id" content="" />-->

<!-- OGP Twitter -->
<!--<meta name="twitter:card" content="" />-->
<!--<meta name="twitter:site" content="" />-->
<!--<meta name="twitter:creator" content="" />-->
<!--<meta name="twitter:title" content="{{ title }}" />-->
<!--<meta name="twitter:description" content="" />-->
<!--<meta name="twitter:image" content="" />-->

<slot name="head" />
<style lang="scss" is:global>
	button {
		text-decoration: underline;
	}
	html,
	body {
		font-family: monospace;
		line-height: 1.5;
		min-height: 100vh;
		min-height: 100dvh;
	}
	body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	main {
		display: none;
	}
	html.wf-active {
		font-family: sans-serif;
		min-height: 0;
		body {
			font-family: sans-serif;
			justify-content: start;
			min-height: 0;
		}
		main {
			display: block;
		}
		#errmsg {
			display: none;
		}
	}
	noscript {
		width: 26ch;
		animation: typing 2.6s steps(26), blink .5s step-end infinite alternate;
	}
	.typing {
		width: 0;
		animation: blink .5s step-end infinite alternate;
	}
	noscript,
   .typing {
		max-width: 100%;
		white-space: nowrap;
		overflow: scroll;
		border-right: 2px solid;
		font-family: 'Roboto Mono', monospace;
	}
	@keyframes typing {
		from {
			width: 0
		}
	}
	@keyframes blink {
		50% {
			border-color: transparent
		}
	}
</style>

<body>
	<slot />
	<noscript>Please Enable JavaScript.</noscript>
</body>	
</html>
