---
import Main from "../../layouts/Main.astro"
---

<Main>
	<main>
		<form>
			<h1>PGN Profile:</h1>
			<div>
				View<wbr/>
				<span style="text-wrap: nowrap;">@<div class="input">
					<input type="text" name="id" autofocus required pattern="\\w+" maxlength="40" spellcheck="false" placeholder="ID"/>
					<div>__</div>
				</div>'s</span>
				<wbr/>profile;
			</div>
			<div>/* Press <button type="submit">ENTER</button> to enter */</div>
		</form>
	</main>
</Main>

<style lang="scss">
 	button {
		background-color: transparent;
		color: black;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 0;
        appearance: none;
		text-decoration: underline;
	***REMOVED***
	@keyframes typing {
		from {
			width: 0
		***REMOVED***
	***REMOVED***
	@keyframes blink {
		50% {
			border-color: transparent
		***REMOVED***
	***REMOVED***
	html.wf-active main {
		display: flex; // wf-active になった後blockにならないように
	***REMOVED***
	main {
		height: calc(50vh + 2lh);
		justify-content: end;
		flex-direction: column;
		align-items: center;
		font-size: 1.5rem;
		font-family: 'Roboto Mono', monospace;
		display: none;
	***REMOVED***

	form {
		padding: .5rem;
	***REMOVED***
	form>div {
		overflow-wrap: break-word;
	***REMOVED***
	div.input {
		position: relative;
		display: inline-block;
		text-align: center;
		max-width: calc(100vw - 3.5ch - 1rem); // viewport - "@'s" -  - padding
		div {
			display: inline-block;
			overflow: hidden;
			min-width: 2ch;
			white-space: nowrap;
			visibility: hidden;
		***REMOVED***

		& > * {
			height: 1lh;
			margin-left: .3ch;
			max-width: 100%;
		***REMOVED***
	***REMOVED***
	input {
		margin: 0;
		padding: 0;
		background: none;
		border: none;
		border-radius: 0;
		outline: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		caret-color: black;

		// 調整
		transform: translateY(25%);

		position: absolute;
		left: 0; right: 0; top: 0; bottom: 0;
	***REMOVED***
</style>

<script>
document.getElementsByTagName("html")[0].classList.add("wf-active");

const input = document.querySelector('div.input input')! as HTMLInputElement;
const setLength = () => {
	const div = input.nextElementSibling as HTMLDivElement;
	div.textContent = input.value.replaceAll(' ', '_');
***REMOVED***
input.addEventListener('input', setLength);
document.addEventListener('DOMContentLoaded', setLength);

document.querySelector('form')!.addEventListener('submit', e => {
	e.preventDefault()
	const form = new FormData((e.target as HTMLFormElement));
	const id = form.get('id') as string;
	location.href = `/profile/${encodeURIComponent(id)***REMOVED***/`
***REMOVED***);
</script>
