---
import Main from "../../layouts/Main.astro";
---

<Main>
	<form>
		<h1>Profile search</h1>
		<div>
			View<wbr/>
			<span style="text-wrap: nowrap;">@<div class="input">
				<input type="text" name="id" autofocus required pattern="\\w+" maxlength="40" spellcheck="false" placeholder="ID"/>
				<div>__</div>
			</div>'s</span>
			<wbr/>profile;
		</div>
		<div id="suggest"></div>
		<div>/* Press <button type="submit">ENTER</button> to enter */</div>
	</form>
</Main>

<style lang="scss">
	#suggest {
		height: 1lh;
	}
	form {
		padding: .5rem;
	}
	form>div {
		overflow-wrap: break-word;
	}
	div.input {
		position: relative;
		display: inline-block;
		text-align: center;
		max-width: calc(100vw - 3.5ch - 1rem); // viewport - "@'s" -  - padding
		div {
			display: inline-block;
			overflow: hidden;
			min-width: 2ch;
			white-space: nowrap;
			visibility: hidden;
		}

		& > * {
			height: 1lh;
			margin-left: .3ch;
			max-width: 100%;
		}
	}
	input {
		margin: 0;
		padding: 0;
		background: none;
		border: none;
		border-radius: 0;
		outline: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		caret-color: black;

		// 調整
		transform: translateY(25%);

		position: absolute;
		left: 0; right: 0; top: 0; bottom: 0;
	}
</style>

<script>
document.getElementsByTagName("html")[0].classList.add("wf-active");

const input = document.querySelector('div.input input')! as HTMLInputElement;
const setLength = () => {
	const div = input.nextElementSibling as HTMLDivElement;
	div.textContent = input.value.replaceAll(' ', '_');
};
input.addEventListener('input', setLength);
document.addEventListener('DOMContentLoaded', setLength);

document.querySelector('form')!.addEventListener('submit', e => {
	e.preventDefault()
	const form = new FormData((e.target as HTMLFormElement));
	const id = form.get('id') as string;
	location.href = `/profile/${encodeURIComponent(id)}/`
});
</script>
